In [8]:
import csv
import math
import matplotlib.pyplot as plt
import numpy as np

In [78]:
namaFile = 'DATASET\dataset_nilai_mahasiswa.csv'

with open(namaFile, newline = '', encoding = 'utf-8') as file:
  reader = csv.reader(file)
  header = next(reader)
  data = [row for row in reader]

header, data[:5]

(['\ufeffNAMA', 'NIM', 'NILAI'],
 [['Denis;23757466;200', '', ''],
  ['Jarwo;23757467;45', '', ''],
  ['Adit;23757468;67', '', ''],
  ['Mikel;42375746;89', '', ''],
  ['Supni;23757470;', '', '']])

In [79]:
data = [row[0].split(';') for row in data]
print(data)

[['Denis', '23757466', '200'], ['Jarwo', '23757467', '45'], ['Adit', '23757468', '67'], ['Mikel', '42375746', '89'], ['Supni', '23757470', ''], ['Abraham', '23757471', ''], ['Gita', '23757471', '78'], ['Ibnu', '23757473', '67'], ['Kurniawan', '23757474', '67'], ['Kurniadi', '23757475', '88'], ['Ilham', '23757476', '89'], ['Kipli', '23757477', '100'], ['Saepuloh', '23757478', '100'], ['Anwar', '23757479', '45'], ['Adnan', '23757480', '35'], ['Andre', '23757481', '20'], ['Darius', '23757482', '67'], ['Elly', '23757483', '56'], ['Joel', '23757485', '65'], ['Abby', '23757487', '54'], ['Dina', '23757488', '64'], ['Amara', '23757489', '44'], ['Kenta', '23757490', '89'], ['Winda', '23757491', '78'], ['Solihin', '23757492', '100'], ['Diki', '23757493', '90'], ['Supriadi', '23757494', '98'], ['Intan', '23757495', '98'], ['Agus', '23757497', '98'], ['Angel', '23757498', '96'], ['Qory', '23757499', '96'], ['Alfin', '23757500', '94'], ['Nindi', '23757501', '65'], ['Diandra', '23757502', '76'], ['Sukijang', '23757503', '87'], ['Anton', '23757504', '98'], ['Bijon', '23757505', '65'], ['Abul', '23757506', '76'], ['Yurzan', '23757507', '87'], ['Robby', '23757510', '98'], ['Kelvin', '23757511', '65'], ['Sendia', '23757512', '76'], ['Naufal', '23757513', '87'], ['Febriansyah', '23757514', '98'], ['Fauzan', '23757515', '87'], ['Rivandi', '23757516', '76'], ['Ido', '23757517', '65'], ['Miftah', '23757518', '76'], ['Aldy', '23757519', '76'], ['Yuka', '23757520', '65']]

In [80]:
missingValues = []

for i, row in enumerate(data):
  for j, value in enumerate(row):
    if value.strip() == '' or value.lower() == "nan" or value is None:
      missingValues.append((i + 2, header[j]))
if missingValues:
  print(f"Missing value Ditemukan pada:")
  for row, col in missingValues:
    print(f" - Baris {row}, Kolom {col}")
  print(f"Total Data yang Hilang: {len(missingValues)}")
else:
  print("Tidak Ditemukan Missing Value.")

Missing value Ditemukan pada:
 - Baris 6, Kolom NILAI
 - Baris 7, Kolom NILAI
Total Data yang Hilang: 2

In [81]:
duplikasi_identik = {}

for i, row in enumerate(data):

    key = row[1]  
    if key in duplikasi_identik:
        duplikasi_identik[key].append(i + 2)  
    else:
        duplikasi_identik[key] = [i + 2]


duplikasi_identik = {key: value for key, value in duplikasi_identik.items() if len(value) > 1}
totalDuplikasiIdentik = sum(len(rows) for rows in duplikasi_identik.values())


if duplikasi_identik:
    print("Data identik yang terduplikasi ditemukan:")
    for key, rows in duplikasi_identik.items():
        print(f" - Data: {key} ditemukan di baris: {rows}")
    print(f"Total data identik yang terduplikasi: {totalDuplikasiIdentik}")
else:
    print("Tidak ada data identik yang terduplikasi.")

Data identik yang terduplikasi ditemukan:
 - Data: 23757471 ditemukan di baris: [7, 8]
Total data identik yang terduplikasi: 2

In [91]:

dataNilai = [float(row[2].replace(',', '')) for row in data if row[2].strip() != '' and row[2].lower() != 'nan']


outliers = [value for value in dataNilai if value < 0 or value > 100]
totalOutliers = len(outliers)
print(f"Total Outlier: {totalOutliers}")

print(f"batas bawah: 0, batas atas: 100")
if outliers:
    print(f"Outlier ditemukan: {outliers}")
else:
    print("Tidak ada outlier ditemukan")

Total Outlier: 1
batas bawah: 0, batas atas: 100
Outlier ditemukan: [200.0]

In [83]:
cleaned_data = [row for row in data if all(value.strip() != "" and value.lower() != "nan" and value is not None for value in row)]

# Output hasil
print(f"Jumlah data sebelum pembersihan: {len(data)}")
print(f"Jumlah data setelah pembersihan: {len(cleaned_data)}")
print(f"Jumlah baris yang dihapus: {len(data) - len(cleaned_data)}")

Jumlah data sebelum pembersihan: 50
Jumlah data setelah pembersihan: 48
Jumlah baris yang dihapus: 2

In [89]:
dataUnik = []
seen = set()

for row in cleaned_data:
    rowTuple = tuple(row)
    if rowTuple not in seen:
        seen.add(rowTuple)
        dataUnik.append(row)
print(f"Jumlah data sebelum penghapusan duplikasi: {len(cleaned_data)}")
print(f"Jumlah data setelah penghapusan duplikasi: {len(dataUnik)}")
print(f"Jumlah baris yang dihapus: {len(cleaned_data) - len(dataUnik)}")

Jumlah data sebelum penghapusan duplikasi: 48
Jumlah data setelah penghapusan duplikasi: 48
Jumlah baris yang dihapus: 0

In [93]:
dataNilai = [float(row[2].replace(',', '')) for row in dataUnik if row[2].strip() != '' and row[2].lower() != 'nan']
outliers = [value for value in dataNilai if value < 0 or value > 100]
#hapus outlier
data_bersih = [row for row in data if row[2].strip() != '' and row[2].lower() != 'nan' and float(row[2].replace(',', '')) not in outliers]

# Output hasil
print(f"Jumlah data sebelum penghapusan outlier: {len(dataUnik)}")
print(f"Jumlah data setelah penghapusan outlier: {len(data_bersih)}")
print(f"Jumlah baris yang dihapus: {len(dataUnik) - len(data_bersih)}")

Jumlah data sebelum penghapusan outlier: 48
Jumlah data setelah penghapusan outlier: 47
Jumlah baris yang dihapus: 1